.slick-next:before,
.slick-prev:before {
  color: gray !important;
  font-size: 1.5rem !important;
}
.width-item {
  width: 100% !important;
}
.active_film {
  @apply bg-black text-white;
}
.none_active_film {
  @apply bg-white text-black;
}
