.ghe {
  /* ghe thuong */
  width: 35px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  margin: 15px;
  background-color: rgb(123, 122, 122);
  color: #fff;
}
.gheDaDat {
  background-color: rgb(232, 76, 76);
  cursor: no-drop;
}
.gheDangDat {
  background-color: rgb(18, 176, 18) !important;
}
.gheVip {
  background-color: orangered;
}
.gheDaDuocDat {
  /*mình đặt  */
  background-color: rgb(246, 246, 246);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
  color: orange;
}
.gheKhachDat {
  background: darkslateblue !important;
  cursor: no-drop;
}
.ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: black;
}
