.trapezoid {
  border-bottom: 50px solid gray;
  opacity: 0.2;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 80%;
}
.ghe {
  /* ghe thuong */
  width: 35px;
  height: 35px;
  border-radius: 5px;
  cursor: pointer;
  margin: 15px;
  background-color: rgb(123, 122, 122);
  color: #fff;
}
.gheDaDat {
  background-color: rgb(232, 76, 76);
  cursor: no-drop;
}
.gheDangDat {
  background-color: rgb(18, 176, 18) !important;
}
.gheVip {
  background-color: orangered;
}
