.box1 {
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
}

.box2 {
  margin: 0 auto;
  width: 16rem;
  height: 20rem;
  background: rgba(16, 18, 27, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.18);
  border-radius: 10px;
  backdrop-filter: blur(2px);
}
