@tailwind base;
@tailwind components;
@tailwind utilities;
@media (max-width: 640px) {
  .body-font {
    display: none;
  }
  .heThongRap {
    display: none;
  }
  .ant-tabs-content .ant-tabs-content-left {
    display: none;
  }
  .nameRap {
    font-size: 10px;
  }
  .diaChiRap {
    font-size: 10px;
    word-break: break-all;
    width: 50%;
    overflow: hidden;
  }
  .img-FilmFlip {
    width: 50px;
  }
}
@media (max-width: 768px) {
  .heThongRap {
    display: none;
  }
}
@media (max-width: 1024px) {
  .heThongRap {
    display: none;
  }
}
@media (max-width: 1280px) {
  .heThongRap {
    display: none;
  }
}
* {
  font-family: "Montserrat", sans-serif;
}
